<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Garage States</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    html {
      background: #333;
    }
    body {
      color: #f8f8f8;
      display: flex;
      justify-content: center;
      padding-top: 2em;
    }
    .state {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1em;
      min-width: 140px;
    }
    .state-icon {
      background-color: blue;
      height: 100px;
      mask-size: 100px;
      width: 100px;
    }
    .state-icon-open { background-color: #FDA4A3 }
    .state-icon-closed { background-color: #E5FFB2 }
    .state-icon-unknown { background-color: #E6E6E6 }
    .state p {
      text-align: center;
      margin: 0.5em 0 0;
    }
  </style>
</head>
<body>
  <div class="state">
    <div
      class="state-icon state-icon-{{states.left}}"
      style="mask-image: url(/garage-{{states.left}}.png)"
    ></div>
    <p>Left: {{states.left}}</p>
  </div>
  <div class="state">
    <div
      class="state-icon state-icon-{{states.right}}"
      style="mask-image: url(/garage-{{states.right}}.png)"
    ></div>
    <p>Right: {{states.right}}</p>
  </div>
</body>
</html>
